[submodule "libs/opencv"]
	path = libs/opencv
	url = https://github.com/opencv/opencv.git
[submodule "libs/opencv_contrib"]
	path = libs/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
[submodule "libs/imgui-node-editor"]
	path = libs/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/thedmd/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
